@use "../01_foundation/variable"as *;

/* 2, Contents */

/* 基本 */

.l-container {
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 50px;

    @include tb {
        width: 100%;
        padding: 0 20px;
    }
}

/* 小さい幅 */
.l-container-small {
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 50px;

    @include tb {
        width: 100%;
        padding: 0 20px;
    }
}


/* ヘッダー用 */
.l-container-header {
    width: 1600px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 50px;

    @include tb {
        padding: 0 20px;
    }
}

/* SP&paddingなし */
.l-container-sp-padding {
    @include sp {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding: 0;
    }
}

/* 下層ページ */
.l-container-page {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 50px;

    @include tb {
        width: 100%;
        padding: 0 20px;
    }
}

/* 投稿ページ */
.l-container-post {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
    padding: 100px 50px 0 50px;

    @include tb {
        width: 100%;
        padding: 50px 20px 0 20px;
    }
}


/* コンテンツ　左右の余白無し */
.c-inner {
    width: 1000px;
    max-width: 100%;
    margin-inline: auto;
}

.c-inner-px20 {
    width: 1000px;
    max-width: 100%;
    margin-inline: auto;
    padding: 0 20px;
}