@use "../01_foundation/variable"as *;

/* Footer */

footer {
    position: relative;
    background-color: #945d5d;
    color: #fff;
}

.l-footer {
    padding: 62px 0 0 0;

    &__brand {
        margin: 0 0 95px 0;
        padding: 0;
        text-align: center;

        @include sp {
            margin: 0 0 70px 0;
        }

        a {
            &:hover {
                opacity: 1;
            }

            @include sp {
                img {
                    width: 155px;
                }
            }
        }
    }

    &__nav {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        >div {
            width: 25%;
            margin-bottom: 90px;
            padding: 0 30px 0 0;

            @include sp {
                width: 100%;
                margin-bottom: 80px;
                padding: 0 0px 0 0;
            }
        }
    }

    .menu {
        padding: 0;

        >li {
            >a {
                display: block;
                padding: 10px 0;
                border-bottom: 1px solid #fff;
                font-size: 15px;
                font-weight: 500;
                line-height: 1.73;
                letter-spacing: 0.05em;
            }
        }
    }

    .sub-menu {
        padding: 20px 0 0 0;

        li {
            a {
                display: block;
                padding: 0px 0 5px 0;
                font-size: 14px;
                line-height: 2.5;
                letter-spacing: 0.05em;
            }
        }
    }

    &__banner {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-bottom: 70px;

        a {
            margin: 0 10px;

            @include sp {
                margin: 0 0 20px 0;
            }
        }
    }

}




.l-footer__copylight {
    padding: 0 0 70px 0;
    text-align: center;
    font-size: 12px;
    letter-spacing: 2.64px;
}