@use "./sass/01_foundation/variable"as *;


p {
  margin-bottom: 2em;
  line-height: 2;
}

img {
  margin-bottom: 1.5em;
}

ul,
ol {
  margin: 0 0 2em 0;
  padding: 0 0 0 20px;
  line-height: 1.5;
}

h2 {
  margin: 2em 0 1em 0;
  font-size: 28px;
  line-height: 1.5;
}

h3 {
  margin: 2em 0 1em 0;
  font-size: 24px;
  line-height: 1.5;
}

h4 {
  margin: 2em 0 1em 0;
  font-size: 21px;
  line-height: 1.5;
}

h5 {
  margin: 2em 0 1em 0;
  font-size: 18px;
  line-height: 1.5;
}