@use "../01_foundation/variable"as *;

/* Button  */
.c-btn01 {
  display: inline-block;
  position: relative;
  width: 280px;
  max-width: 100%;
  padding: 0.5em;
  border: 1px solid $main-color;
  color: #fff;
  background-color: $main-color;
  transition: all 0.2s;
  box-sizing: border-box;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  text-decoration: none !important;

  @include sp {
    width: 230px;
    max-width: 100%;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    box-sizing: unset;
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 5px);
    right: 20px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);

    @include sp {
      top: calc(50% - 3.5px);
      right: 20px;
      width: 7px;
      height: 7px;
    }
  }


  &:hover {
    border: 1px solid $main-color;
    color: $main-color;
    background-color: transparent;
    text-decoration: none;

    &::after {
      border-top: 2px solid $main-color;
      border-right: 2px solid $main-color;
    }
  }
}