@use "../01_foundation/variable"as *;

/* Button  */
.c-btn01 {
  display: inline-block;
  position: relative;
  width: auto;
  max-width: 100%;
  padding: 1em 4em 1em 2em;
  color: #fff;
  background: url($sitePath + "icon_arrow-white.png") no-repeat calc(100% - 20px) 44%;
  background-size: 20px auto;
  background-color: $main-color;
  transition: all 0.2s;
  box-sizing: border-box;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  text-decoration: none !important;

  @include sp {
    font-weight: 400;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    transition: 0.3s ease;
  }

  &:hover {
    opacity: 1;

    &::after {
      opacity: 0.5;
    }
  }



  &--large {
    font-size: 15px;
    padding: 1em 6em 1em 6em;

    @include sp {
      width: 450px;
      max-width: 100%;
      padding: 1em 0.5em 2.5em 0.5em;

      &::before {
        top: auto;
        bottom: 20px;
        left: 0;
        right: 0;
      }

      &::after {
        top: auto;
        bottom: 22px;
        left: 0;
        right: 0;
        transform: translateX(6px) rotate(45deg);
      }
    }
  }
}

.c-btn-radius {
  display: block;
  position: relative;
  width: 180px;
  max-width: 100%;
  padding: 11px 10px 12px;
  // border: 1px solid $main-color;
  border-radius: 50px;
  color: #fff;
  background-color: $main-color;
  transition: all 0.2s;
  box-sizing: border-box;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none !important;

  @include header {
    width: 130px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: #fff;
    opacity: 0;
    transition: 0.3s ease;
  }

  &:hover {
    opacity: 1;

    &::after {
      opacity: 0.5;
    }
  }


  img {
    margin-right: 8px;
  }
}