@use "../01_foundation/variable"as *;

/* Button  */
.c-btn01 {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 0.8em 40px 0.9em 28px;
  border-radius: 100px;
  color: #fff;
  background-color: #2f6ac3;
  transition: all 0.2s;
  box-sizing: border-box;
  letter-spacing: 0.2em;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  text-decoration: none !important;

  @include sp {
    max-width: 100%;
    font-size: 16px;
  }

  &:hover {
    opacity: 0.7;
  }

  &--small {
    max-width: 234px;

    @include sp {
      display: block;
      max-width: 100%;
    }
  }



  &--large {
    font-size: 22px;

    @include tb {
      padding: 0.8em 35px 0.9em 20px;
      font-size: 16px;
    }

    &::before {
      top: 42%;
      right: 25px;
      width: 22px;
      height: 7px;

      @include tb {
        right: 20px;
        width: 18px;
        height: 6px;
      }
    }

    &::after {
      border-width: 0 0 68px 68px;

      @include tb {
        border-width: 0 0 48px 48px;
      }
    }
  }
}




.c-btn02 {
  display: inline-block;
  position: relative;
  width: auto;
  padding: 1.5em 3.5em 1.5em 3.5em;
  border-radius: 100px;
  color: #fff;
  background-color: #5b70a5;
  transition: all 0.2s;
  box-sizing: border-box;
  letter-spacing: 0.2em;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  text-decoration: none !important;

  @include sp {
    width: 100%;
    max-width: 100%;
    padding: 0.5em;
    font-size: 16px;
  }

  &:hover {
    opacity: 0.7;
  }
}


.c-btn03 {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 0.5em 10px 0.5em 10px;
  border-radius: 50px;
  background-color: #81a9e3;
  transition: all 0.2s;
  box-sizing: border-box;
  letter-spacing: 0.05em;
  font-family: $font2;
  font-size: 34px;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  color: #fff;
  text-decoration: none !important;

  @include sp {
    max-width: 100%;
  }

  &:hover {
    opacity: 0.7;
  }

  &>img {
    position: relative;
    top: -2px;
    margin-right: 13px;
  }
}