@use "../01_foundation/variable"as *;

// 
// よくあるニュース記事一覧
// サムネイル画像なし
// 
.c-post-news-list {
    margin: 0px 0 0 0;
    padding: 0;

    &__item {
        padding: 85px 0 80px 0;
        border-bottom: 1px solid rgba($color: #707070, $alpha: 0.2);

        @include sp {
            padding: 55px 0 50px 0;
        }

        &:first-of-type {
            padding: 0px 0 80px 0;

            @include sp {
                padding: 0px 0 50px 0;
            }
        }

        &:last-of-type {
            padding: 85px 0 100px 0;
            border-bottom: none;

            @include sp {
                padding: 55px 0 70px 0;
            }
        }
    }

    &__content {}

    &__info {
        position: relative;
        margin-bottom: 30px;
        padding: 0px;

    }

    &__title {
        width: 100%;
        margin-bottom: 8px;
        padding: 0;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.1em;
        line-height: 1.25;

        @include sp {
            font-size: 18px;
        }
    }

    &__time {
        font-size: 20px;
        font-weight: bold;
        line-height: 1;
        letter-spacing: 0.1em;
        color: #81A9E3;
        font-family: $font;

        @include sp {
            font-size: 18px;
        }
    }

    &__desc {
        margin-bottom: 20px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }

    &__link {
        display: block;
        padding-bottom: 0px;

        &:has(.c-post-news-list__link-wrap) {
            padding-bottom: 55px;

            @include sp {}
        }
    }

    &__link-wrap {
        position: relative;
        padding: 0px 0 0 0;
        background-color: #fff;
        text-align: right;
        z-index: 2;

        a {
            display: inline-block;
            position: relative;
            width: 150px;
            padding: 8px 2px 10px 2px;
            background-color: rgba($color: #81A9E3, $alpha: 0.1);
            color: #81A9E3;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            letter-spacing: 0.1em;
            text-align: center;

            &::after {
                content: '';
                position: absolute;
                top: 44%;
                right: 20px;
                width: 6px;
                height: 6px;
                border-top: 1px solid #81A9E3;
                border-right: 1px solid #81A9E3;
                transform: rotate(45deg);
            }
        }
    }

}