@use "../01_foundation/variable"as *;

// 
// よくあるブログ記事一覧
// サムネイル画像あり
// 
.c-post-blog-list {
    margin: 0px 0 0 0;
    padding: 0;

    &__item {
        margin-bottom: 100px;
    }

    &__content {}

    &__title {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 5px solid $main-color;
        font-size: 22px;
        font-weight: 800;
        letter-spacing: 0.1em;
        line-height: 1.59;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 40px;
        padding: 0px 0px 0 0px;

    }

    &__info-left {
        display: flex;
        width: 400px;
        max-width: 50%;
    }

    &__category {
        margin-right: 22px;

        >span {
            display: block;
            width: 150px;
            padding: 5px 2px;
            color: #fff;
            font-size: 15px;
            font-weight: 500;
            line-height: 1;
            letter-spacing: 0.1em;
            text-align: center;
        }
    }

    &__time {
        position: relative;
        top: 5px;
        color: #B6B6B6;
        font-size: 18px;
        line-height: 1;
        letter-spacing: 0.05em;
        font-family: $font;
    }

    &__info-right {
        width: 150px;

        a {
            display: block;
            position: relative;
            width: 150px;
            padding: 8px 2px;
            background-color: #FFF9FA;
            color: $main-color;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            letter-spacing: 0.1em;
            text-align: center;

            &::after {
                content: '';
                position: absolute;
                top: 44%;
                right: 20px;
                width: 6px;
                height: 6px;
                border-top: 1px solid $main-color;
                border-right: 1px solid $main-color;
                transform: rotate(45deg);
            }
        }
    }

    &__desc {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }

}