@use "../01_foundation/variable"as *;

.c-post-single {
    margin: 0px 0 0 0;
    padding: 0;

    &__info {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        padding: 0px 0px 0 0px;

        &--news {
            justify-content: flex-start;
        }
    }

    &__category {
        margin-right: 22px;

        >span {
            display: block;
            width: 150px;
            padding: 5px 2px;
            color: #fff;
            font-size: 15px;
            font-weight: 500;
            line-height: 1;
            letter-spacing: 0.1em;
            text-align: center;

            @include sp {
                font-size: 14px;
            }
        }
    }

    &__time {
        position: relative;
        top: 5px;
        color: #81A9E3;
        font-size: 18px;
        font-weight: bold;
        line-height: 1;
        letter-spacing: 0.1em;
        font-family: $font;

        &--news {
            font-size: 18px;
        }
    }

}